.tab-group-container .ant-card-head {
    padding: 0px;
    padding-inline-start: 7px;
    padding-inline-end: 5px;
}

.tab-group-container .ant-card-head:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.tab-group-container.collapsed .ant-card-head {
    border-radius: 8px;
}

.tab-group-container.collapsed .ant-card-body {
    display: none;
}

.tab-group-container .ant-card-body {
    padding: 8px 2px;
}

.tab-group-container .ant-menu {
    border-inline-end: none;
}

.tab-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-group-header:hover {
    cursor: pointer;
}

.tab-group-header:not(:hover) .only-hover {
    display: none;
}

.tab-group-context-container {
    display: none;
    position: fixed;
    background-clip: padding-box;
    padding: 6px;
}

.tab-group-context-container.visible {
    display: block;
}

.tab-group-context-container .ant-divider {
    margin: 6px 0;
}

.tab-group-context-container .ant-menu-title-content {
    display: flex;
    height: 32px;
    line-height: 32px;
}

.tab-group-context-container .color-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px;
    cursor: pointer;
}

.tab-group-context-container .color-select-item {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.tab-group-context-container .color-select-item svg {
    width: 18px;
    height: 18px;
}

.tab-item-container:hover .only-hover {
    opacity: 1 !important;
}

.tab-item-title:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06);
}

.tab-item-title.active {
    background-color: #e6f4ff;
}

.tab-item-title .label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    width: 0;
}