.window-toolbar {
    display: flex;
    box-sizing: border-box;
    padding: 5px 0;
    padding-inline-end: 8px;
    width: 100%;
}

.window-list {
    display: flex;
    gap: 4px;
    flex: 1;
    width: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.window-list .window-add-button {
    margin-right: auto;
}